{% extends "doubts/homepage.html" %}
{% load static %}
{% load embed_video_tags %}
{% load crispy_forms_tags %}
{% block body %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">whats your doubt {{user.username}} ?</h4>
        
        <form action="" method="POST">
					
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            {% csrf_token %}
                            {{form.media|safe}}
                            <!--{{form.as_p}}-->
                            {{ form|crispy|safe }}
                            <!--<div class="form-group" >
                                <input style="background-color:white" type="text" name="mood" class="form-control" placeholder="mention your mood">
                            </div>
                            <div class="form-group" >
                                <textarea id="message" cols="30" rows="7" name="content" class="form-control" placeholder="Write your daily dairy here..."></textarea>
                            </div>-->
                            <div class="form-group">
                                <input type="submit" class="btn btn-primary btn-md" value="Save">
                            </div>
                        </div>
                        
                        
                    </div>
                </div>
                
                
            </div>
        </form>
      </div>
      {% endblock %}